{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript"
        src="https://maps.google.com/maps/api/js?key=AIzaSyAg_q4-0O32mvVUGCkCRHoAUm18dAyo2_Y&sensor=true">
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Could not determine your current location.
            </div>

            <form action="{{ add_meeting_point_link }}" method="post">
                <fieldset>
                    <legend>Add a meeting point</legend>
                    <div class="form-group">
                        <label for="location_name">Meeting point name</label>
                        <input type="text" class="form-control" id="location_name" name="location_name" placeholder="Enter meeting point name">
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude</label>
                        <input type="number" class="form-control" id="latitude" name="latitude" placeholder="Enter latitude" step="any">
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="number" class="form-control" id="longitude" name="longitude" placeholder="Enter longitude" step="any">
                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                    <button type="button" class="btn btn-small" onclick="check_address()">Check address</button>
                </fieldset>
            </form>

        </div>
        <div class="col-lg-12" style="margin-top: 20px">
            <div class="well">
                <div id="map-canvas" style="height: 400px; width: 100%" ></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var marker;
    var map;

    function check_address(){
        codeLatLng(parseFloat($('#latitude').val()), parseFloat($('#longitude').val()));
    }

    function showMeetingPoints(latitude, longitude) {
        $('#longitude').val(longitude);
        $('#latitude').val(latitude);

        var options = {
            zoom: 13,
            center: new google.maps.LatLng(latitude, longitude),
            mapTypeControl: false,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-canvas"), options);

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(latitude, longitude),
            map: map
        });

        codeLatLng(latitude, longitude)
    }

    function codeLatLng(latitude, longitude) {
        var geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(latitude, longitude);
        geocoder.geocode({'latLng': latlng}, function(results, status) {;
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    $('#location_name').val(results[0].formatted_address);
                    map.setCenter(new google.maps.LatLng(latitude, longitude));
                    if(marker != null){
                        marker.setMap(null);
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(latitude, longitude),
                            map: map,
                            title: results[0].formatted_address});
                    }
                }
            }
        });
    }

    function extractFromAdress(components, type){
        for (var i=0; i<components.length; i++){
            for (var j=0; j<components[i].types.length; j++){
                if (components[i].types[j]==type){
                    return components[i].long_name;
                }}}
        return "";
    }

    function success(position) {
        showMeetingPoints(position.coords.latitude, position.coords.longitude);
    }

    function currentPositionError(err) {
        showDefaultPosition()
    }

    function showDefaultPosition(){
        $('.alert').removeClass('hide')
        showMeetingPoints(46.0500,14.5000);
    }

    function initialize(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, currentPositionError);
        } else {
            showDefaultPosition();
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}