{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form action="{{add_transfer_vehicle_link}}" method="post">
            <fieldset>
                <legend>Add a transfer vehicle</legend>
                <div class="form-group">
                    <label for="make">Make</label>
                    <input type="text" class="form-control" id="make" name="make" placeholder="Enter make">
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" placeholder="Enter model">
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" class="form-control" id="color" name="color" placeholder="Enter color">
                </div>
                <div class="form-group">
                    <label for="reg_num">Registration number</label>
                    <input type="text" class="form-control" id="reg_num" name="reg_num" placeholder="Enter registration number">
                </div>
                <div class="form-group">
                    <label for="num_seats">Number of seats</label>
                    <input type="number" class="form-control" id="num_seats" name="num_seats" placeholder="Enter number of seats">
                </div>
                <button type="submit" class="btn btn-default">Add</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}