{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        {% if transfer_vehicle_added  %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Transfer vehicle successfully added.
        </div>
        {% elif transfer_route_added  %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Transfer route successfully added.
        </div>
        {% elif transfer_route_added  %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Transfer route successfully added.
        </div>
        {% endif %}

        <form action="{{add_transfer_link}}" method="post">
            <fieldset>
                <legend>Start a transfer</legend>
                <div class="form-group">
                    <label for="transfer_vehicle">Transfer vehicle</label>
                    <select class="form-control" id="transfer_vehicle" name="transfer_vehicle" required>
                        {% for transfer_vehicle in transfer_vehicles %}
                        <option value="{{ transfer_vehicle.key().id() }}">{{ transfer_vehicle.getDescription() }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"> <a href="{{add_transfer_vehicle_link}}">Add transfer vehicle</a></span>
                </div>
                <div class="form-group">
                    <label for="transfer_route">Transfer route</label>
                    <select class="form-control" id="transfer_route" name="transfer_route" required>
                        {% for transfer_route in transfer_routes %}
                        <option value="{{ transfer_route.key().id() }}">{{ transfer_route.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"> <a href="{{add_transfer_route_link}}">Add transfer route</a></span>
                </div>
                <div class="form-group">
                    <label for="pricing_option">Pricing option</label>
                    <select class="form-control" id="pricing_option" name="pricing_option" onchange="handleAmount()" required>
                        {% for price_option in price_options %}
                            <option value="{{ price_option.option_id }}">{{ price_option.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="payment_amount">Payment amount</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="payment_amount" name="payment_amount" placeholder="Enter payment amount" step="0.0001" value="0" />
                        <span class="input-group-addon">BTC</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="schedule_option">Schedule type</label>
                    <select class="form-control" id="schedule_option" name="schedule_option" onchange="handleTime()" required>
                        {% for schedule_option in schedule_options %}
                            <option value="{{ schedule_option.option_id }}">{{ schedule_option.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schedule_hour">Hour</label>
                            <input type="number" class="form-control" id="schedule_hour" name="schedule_hour" step="1" min="0" max="23" value="0" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="schedule_time">Minute</label>
                            <input type="number" class="form-control" id="schedule_time" name="schedule_time" step="5" min="0" max="60" value="0" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Start transfer</button>
                <input type="hidden" id="longitude" name="longitude">
                <input type="hidden" id="latitude" name="latitude">
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function handleAmount(){
        var optionID = $('#pricing_option').find(":selected").val();
        var payment_amount = $('#payment_amount');

        payment_amount.val(0);
        if(optionID == 1){
            payment_amount.attr('disabled', true);
        }
        else{
            payment_amount.removeAttr("disabled");
        }
    }


    function handleTime(){
        var optionID = $('#schedule_option').find(":selected").val();
        var schedule_hour = $('#schedule_hour');
        var schedule_time = $('#schedule_time');

        schedule_hour.val(0);
        schedule_time.val(0);

        if(optionID == 1){
            schedule_hour.attr('disabled', true);
            schedule_time.attr('disabled', true);
        }
        else{
            schedule_hour.removeAttr("disabled");
            schedule_time.removeAttr("disabled");
        }
    }

    function success(position) {
        $("#latitude").val(position.coords.latitude);
        $("#longitude").val(position.coords.longitude);
    }

    handleAmount();
    handleTime();
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success);
    }
</script>
{% endblock %}