{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript"
        src="https://maps.google.com/maps/api/js?key=AIzaSyAg_q4-0O32mvVUGCkCRHoAUm18dAyo2_Y&sensor=true">
</script>
<script type="text/javascript"
        src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js">
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-lg-8">
            <fieldset>
                <legend>Get meeting points near route</legend>
                <div class="form-group">
                    <label for="start">Start location</label>
                    <input class="form-control" type='text' id='start' /><br/>
                </div>
                <div class="form-group">
                    <label for="end">End location</label>
                    <input class="form-control" type='text' id='end' /><br/>
                </div>
                <button type="button" class="btn btn-default" onclick='calcRoute()'>Route</button>
            </fieldset>
        </div>
    </div>
    <div class="row spacer">
        <div class="col-sm-8 col-lg-8">
            <div class="well">
                <div id="map-canvas" style="height: 400px;" ></div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">

            <div class="alert alert-danger hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Could not determine your current location.
            </div>

            <form action="{{add_transfer_route_link}}" method="post">
                <fieldset>
                    <legend>Add a transfer route</legend>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter route name" disabled>
                    </div>
                    <div class="checkbox form-group" id="nearby_locations">

                    </div>
                    <button type="submit" id="submit_button" class="btn btn-default" disabled>Add</button>
                    <input type="hidden" id="travelling_to" name="travelling_to">
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var directionsRenderer;
    var directionsService = new google.maps.DirectionsService();
    var routeBoxer = new RouteBoxer();
    var distance = 2; // km
    var map;
    var boxpolys = [];
    var markers = [];

    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var ljubljana = new google.maps.LatLng(46.055556, 14.508333);
        var mapOptions = {
            zoom:7,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: ljubljana
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        directionsRenderer = new google.maps.DirectionsRenderer({ map: map });
    }

    function calcRoute() {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        $('#travelling_to').val(end);
        var request = {
            origin:start,
            destination:end,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        }

        // Make the directions request
        directionsService.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsRenderer.setDirections(result);

                // Box around the overview path of the first route
                var path = result.routes[0].overview_path;

                for (var i = 0; i < boxpolys.length; i++) {
                    boxpolys[i].setMap(null)
                }

                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null)
                }

                var boxes = routeBoxer.box(path, distance);
                $.ajax({
                    url:"GetLocationNearRouteHandler",
                    data: boundsToJSON(boxes),
                    dataType: 'json',
                    type: 'POST',
                    success:
                            function(data){
                                markers = new Array(data.length);
                                $('#submit_button').removeAttr('disabled');
                                $('#name').removeAttr('disabled');
                                $("#nearby_locations").empty();
                                for(var i=0; i < data.length; i++){
                                    var html = '<label class="checkbox"><input type="checkbox" checked name="transfer_stop" value="' +  data[i].doc_id +'">' + data[i].title + '</label><br>';
                                    $("#nearby_locations").append(html);
                                    markers[i] = new google.maps.Marker({
                                        position: new google.maps.LatLng(data[i].lat, data[i].lon),
                                        map: map,
                                        title: data[i].title
                                    });
                                }
                            }
                });
                //     drawBoxes(boxes);
            } else {
                alert("Directions query failed: " + status);
            }
        });
    }

    function drawBoxes(boxes) {
        boxpolys = new Array(boxes.length);
        for (var i = 0; i < boxes.length; i++) {
            boxpolys[i] = new google.maps.Rectangle({
                bounds: boxes[i],
                fillOpacity: 0,
                strokeOpacity: 1.0,
                strokeColor: '#000000',
                strokeWeight: 1,
                map: map
            });
        }
    }

    function boundsToJSON(boundsArray){
        var jsonArray = '[';

        for(var i = 0; i < boundsArray.length; i++){
            boundsArray[i]
            jsonArray += '{ "latUL": "' + boundsArray[i].getNorthEast().lat()
                    + '", "longUL": "' + boundsArray[i].getNorthEast().lng()
                    + '", "latDR": "' + boundsArray[i].getSouthWest().lat()
                    + '", "longDR": "' + boundsArray[i].getSouthWest().lng()  + '"  }'
            if (i !=  boundsArray.length - 1) {
                jsonArray += ','
            }
        }

        jsonArray += ']';
        return jsonArray;
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}