<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="/static/css/custom.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% endblock %}
</head>
<body>
    {% include 'Navigation.html' %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>