<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="{{ delete_meeting_point_link }}" method="post">
    <div><label for="document_id">document id</label><input type="text"  id="document_id" name="document_id" /></div>
    <div><input type="submit" value="Delete meeting point"></div>
</form>
</body>
</html>