{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript"
        src="https://maps.google.com/maps/api/js?key=AIzaSyAg_q4-0O32mvVUGCkCRHoAUm18dAyo2_Y&sensor=true">
</script>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-8 col-lg-8">
            <div class="well">
                <div id="map-canvas" style="height: 400px; width: 100%" ></div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">

            <div class="alert alert-danger hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Could not determine your current location.
            </div>

            <div class="panel" >
                <div class="panel-heading">Closest meeting points</div>
                <div class="list-group list-group-flush" id="nearby_locations">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function showMeetingPoints(latitude, longitude) {

        var options = {
            zoom: 8,
            center: new google.maps.LatLng(latitude, longitude),
            mapTypeControl: false,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), options);

        $.ajax({
            url:"ClosestMeetingPoints",
            data: coordinatesToJSON(latitude, longitude),
            dataType: 'json',
            type: 'POST',
            success:
                    function(data){
                        if(data.length > 0){
                            for(var i=0; i < data.length; i++){
                                var html = '<a class="list-group-item" href="/meetingpoint/' + data[i].doc_id + '">' +
                                        data[i].title + '&nbsp(' + data[i].lat + ',' + data[i].lon + ')</a>';
                                $("#nearby_locations").append(html);
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(data[i].lat, data[i].lon),
                                    map: map,
                                    title: data[i].title
                                });
                            }
                        }
                    }
        });
    }

    function coordinatesToJSON(latitude, longitude){
        return '{ "lat": "'+ latitude+'", "lon": "'+longitude+'"}';
    }

    function success(position) {
        showMeetingPoints(position.coords.latitude, position.coords.longitude);
    }

    function currentPositionError(err) {
        //   alert('ERROR(' + err.code + '): ' + err.message);
        showDefaultPosition()
    }

    function showDefaultPosition(){
        $('.alert').removeClass('hide')
        showMeetingPoints(46.0500,14.5000);
    }

    function initialize(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, currentPositionError);
        } else {
            showDefaultPosition();
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}