{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
    <link type="text/css" href="/static/css/bootstrap-rowlink.min.css">
    <script src="/static/js/bootstrap-rowlink.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if meeting_point_added  %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Meeting point successfully added.
        </div>
        {% endif %}

        <h2>Meeting points</h2>
        {% if signed_in  %}
            <h6><a href="{{ add_meeting_point_link }}">Add new meeting point</a></h6>
        {% endif %}

        <table class="table table-hover" data-provides="rowlink">
            <thead>
            <th>Meeting point name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            </thead>

            {% for meeting_point in meeting_point_list %}
            <tr>
                <td><a href="{{ meeting_point.link }}">{{ meeting_point.title }}</a></td>
                <td>{{ meeting_point.lat }}</td>
                <td>{{ meeting_point.lon }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}