{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <script src="/static/js/jquery.raty.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Arriving at meeting point <strong>{{ meeting_point_name}} </strong></h2>

        <table class="table table-striped">
            <thead>
            <th>#</th>
            <th>Final destination</th>
            <th>Rating</th>
            <th>Pricing method</th>
            <th>Price in BTC</th>
            <th>Available seats</th>
            <th>Distance</th>
            <th>ETA</th>
            {% if signed_in %}
            <th>Request a transfer</th>
            {% endif %}
            </thead>
            {% for transfer_stop_user in transfer_stop_users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ transfer_stop_user.travelling_to }}</td>
                <td><div class="star" data-score="{{ transfer_stop_user.rating }}"></div>
                <td>{{ transfer_stop_user.pricing_option_text }}</td>
                <td>{{ transfer_stop_user.price }}</td>
                <td>{{ transfer_stop_user.number_of_free_seats }}</td>
                <td>{{ transfer_stop_user.distance_value }}</td>
                <td>{{ transfer_stop_user.duration_value }}</td>
                {% if signed_in %}
                <td><a href="{{ transfer_stop_user.transfer_apply_link }}">Request</a></td>
                {% endif %}
            </tr>
            {% else %}
             <tr>
                 <td colspan="9">
                     <p class="text-center"><strong>No drivers are scheduled to arrive</strong></p>
                 </td>
             </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $.fn.raty.defaults.path = '/static/img';
    $('.star').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
    } });
</script>
{% endblock %}