{# twitter bootstrap must be included #}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ home_link }}">P2PTransfers</a>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ home_link }}" class="active">Home</a></li>
                <li><a href="{{ meeting_points_link }}">Meeting points</a></li>
                {% if signed_in %}
                <li><a href="{{ add_transfer_link }}" >Start a transfer</a></li>
                <li><a href="{{ transfers_link }}" >Transfers</a></li>
                <li><a href="{{ transfer_requests_link }}" >Transfer requests</a></li>
                <li><a href="{{ user_link }}" >Signed in as {{ nickname }}&nbsp&nbsp&nbsp&nbsp</a></li>
                <li><button type="button" class="btn btn-primary navbar-btn" onclick="window.location.href = '{{ log_out_link }}';" >Sign out</button></li>
                {% else %}
                <li><button type="button" class="btn btn-primary navbar-btn" onclick="window.location.href = '{{ log_in_link }}';" >Sign in</button></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>