{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="alert alert-danger hide">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Could not determine your current location.
        </div>

        <form action="{{ payment_post_link }}" method="post">
            <fieldset id="fieldset_id">
                <legend>{{ title }} </legend>
                <div class="form-group">
                    <label for="start_location">Start location</label>
                    <input disabled type="text" class="form-control" id="start_location" name="start_location" value="{{ transfer_request.start_location }}">
                </div>
                <div class="form-group">
                    <label for="transfer_distance">Transfer distance</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="transfer_distance" name="transfer_distance" step="0.01" min="0" value="{{ payment.distance_travelled }}">
                        <span class="input-group-addon">km</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="transfer_payment_amount">Payment amount</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="transfer_payment_amount" name="transfer_payment_amount" step="0.0001" min="0" value="{{ payment.amount }}">
                        <span class="input-group-addon">BTC</span>
                    </div>
                </div>
                {% if payment.is_confirmed %}
                <div class="form-group">
                    <label for="end_address">Payment address</label>
                    <input disabled type="text" class="form-control" id="end_address" name="end_address" value="{{ payment.receive_address }}">
                </div>
                {% endif %}
                <input id="transfer_request" type="hidden" value="{{ transfer_request.safe_key}}">

                <button type="submit" class="btn btn-default">Confirm</button>
                <button type="button" class="btn btn-small" onclick="calculateDistance()">Calculate distance</button>
                <button type="button" class="btn btn-small" onclick="calculateAmount()">Calculate amount</button>
            </fieldset>
        </form>

        {% if payment.is_confirmed %}
        <br/>
        <div class="alert alert-success">
            Send <strong>{{ payment.amount }} BTC</strong> to bitcoin address <strong>{{ payment.receive_address }}</strong>.<br/>
            <a href="bitcoin:{{ payment.receive_address }}?amount={{ payment.amount }}&amp;label=P2PTransfers">Open in wallet</a>
        </div>
        <script>
            $('#fieldset_id').attr('disabled', true)
        </script>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function currentPositionError(err) {
        $('.alert').removeClass('hide')
    }

    function currentLocationObtained(position) {
        $.ajax({
            url:"{{ calculate_distance_link }}",
            data: coordinatesToJSON(position.coords.latitude, position.coords.longitude),
            dataType: 'json',
            type: 'POST',
            success:function(return_data) {
                $('#transfer_distance').val(return_data.distance);
                $('#transfer_payment_amount').val(return_data.amount);
            }
        });
    }

    function coordinatesToJSON(latitude, longitude){
        return '{ "lat": "'+ latitude+'", "lon": "'+longitude+'", "request_key": "'+$('#transfer_request').val()+'"}';
    }

    function distanceToJSON(distance){
        return '{ "distance": "'+ distance+'", "request_key": "'+$('#transfer_request').val()+'"}';
    }

    function calculateDistance(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(currentLocationObtained, currentPositionError);
        } else {
            $('.alert').removeClass('hide')
        }
    }

    function calculateAmount(){
        var distance = $('#transfer_distance').val();
        if(distance.length > 0 && parseFloat(distance) > 0){
            $.ajax({
                url:"{{ calculate_amount_link }}",
                data: distanceToJSON(distance),
                dataType: 'json',
                type: 'POST',
                success:function(return_data) {
                    $('#transfer_payment_amount').val(return_data.amount);
                }
            });
        }
        else{
            $('#transfer_payment_amount').val(0);
            $('#transfer_distance').val(0);
        }
    }
</script>
{% endblock %}