{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Arriving at meeting point <strong>{{ meeting_point_name}} </strong></h2>

        <table class="table table-striped">
            <thead>
            <th>#</th>
            <th>Driver ID</th>
            <th>Final destination</th>
            <th>Price</th>
            <th>Number of free seats</th>
            <th>Rating</th>
            <th>ETA</th>
            </thead>
            <tr>
                <td>1</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}