{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" href="/static/css/bootstrap-rowlink.min.css">
<script src="/static/js/bootstrap-rowlink.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        {% if transfer_requested %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Transfer successfully requested.
        </div>
        {% endif %}

        <h2>{{ title }}</h2>

        <table class="table table-hover" data-provides="rowlink">
            <thead>
            <th>Meeting point name</th>
            <th>Request time</th>
            <th>Approved</th>
            </thead>

            {% for transfer_request in transfer_requests %}
            <tr>
                <td><a href="{{ transfer_request.link }}">{{ transfer_request.meeting_point_name }}</a></td>
                <td>{{ transfer_request.request_time.strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ transfer_request.approved }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="active">
                    <p class="text-center"><strong>No transfers requested</strong></p>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}