{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/js/jquery.raty.js" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <fieldset disabled>
            <legend>{{ title }} </legend>
            <div class="form-group">
                <label for="start_location">Start location</label>
                <input type="text" class="form-control" id="start_location" name="start_location" value="{{ transfer_request.start_location }}">
            </div>
            {% if transfer_request.approved %}
            <div class="form-group">
                <label for="transfer_vehicle">Transfer vehicle</label>
                <input type="text" class="form-control" id="transfer_vehicle" name="transfer_vehicle" value="{{ transfer_request.transfer_vehicle }}">
            </div>
            {% endif %}
            <div class="form-group">
                <label for="transfer_request_time">Transfer request time</label>
                <input type="text" class="form-control" id="transfer_request_time" name="transfer_request_time" value="{{ transfer_request.request_time.strftime('%d.%m.%Y %H:%M') }}">
            </div>
            <div class="form-group">
                <label for="transfer_request_approved">Is transfer request approved</label>
                <input type="text" class="form-control" id="transfer_request_approved" name="transfer_request_approved" value="{{ transfer_request.approved }}">
            </div>
            {% if transfer_request.is_driver_rated %}
            <div class="form-group">
                <label for="driver_rating">Driver rating</label>
                <div id="driver_rating" class="star" data-score="{{ transfer_request.driver_rating }}" read-only-raty="1"></div>
            </div>
            {% endif %}
            {% if transfer_request.is_passenger_rated %}
            <div class="form-group">
                <label for="passenger_rating">Passenger rating</label>
                <div id="passenger_rating" class="star" data-score="{{ transfer_request.passenger_rating }}" read-only-raty="1"></div>
            </div>
            {% endif %}

            <input id="transfer_request" type="hidden" value="{{ transfer_request.safe_key}}">
        </fieldset>
        {% if transfer_request.approved %}
        <fieldset disabled>
            <legend>Payment data</legend>
            {% if payment != None %}
            <div class="form-group">
                <label for="transfer_distance">Transfer distance</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="transfer_distance" name="transfer_distance" value="{{ payment.distance_travelled }}">
                    <span class="input-group-addon">km</span>
                </div>
            </div>
            <div class="form-group">
               <label for="transfer_payment_amount">Payment amount</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="transfer_payment_amount" name="transfer_payment_amount" value="{{ payment.amount }}">
                    <span class="input-group-addon">BTC</span>
                </div>
            </div>
            <div class="form-group">
                <label for="receive_address">Payment address</label>
                <input type="text" class="form-control" id="receive_address" name="receive_address" value="{{ payment.receive_address }}">
            </div>
            {% endif %}
            <div class="form-group">
                <label for="transfer_request_payment_made">Is payment made</label>
                <input type="text" class="form-control" id="transfer_request_payment_made" name="transfer_request_payment_made" value="{{ transfer_request.payment_made}}">
            </div>
            <div class="form-group">
                <label for="transfer_request_payment_confirmed">Is payment confirmed</label>
                <input type="text" class="form-control" id="transfer_request_payment_confirmed" name="transfer_request_payment_confirmed" value="{{ transfer_request.payment_confirmed }}">
            </div>
        </fieldset>

            {% if transfer_request.is_current_passenger_rating and not transfer_request.payment_confirmed and  transfer_request.payment_made%}
                <button type="button" class="btn btn-default" onclick="window.location.href = '{{ confirm_payment_link }}';">Confirm payment</button>
                <br /><br />
            {% endif %}
            {% if not transfer_request.is_current_passenger_rating and not transfer_request.payment_made %}
                <button type="button" class="btn btn-default" onclick="window.location.href = '{{ payment_link }}';">Initialize payment</button>
                <br /><br />
            {% endif %}

            <fieldset>
            <legend>Rate your {{ transfer_request.who_are_we_currently_rating }}</legend>
                <div class="form-group">
                    <div id="rating" class="star" data-score="{{ transfer_request.currently_rated }}" read-only-raty="0" is-passenger-rating="{{ transfer_request.is_current_passenger_rating }}"/>
                </div>
            </fieldset>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $.fn.raty.defaults.path = '/static/img';
    $('.star').raty({
        score: function() {
            return $(this).attr('data-score');
        },
        readOnly: function() {
            if($(this).attr('read-only-raty') == "1"){
                return true;
            }
            else{
                return false;
            }
        },
        click: function(score, evt) {
            saveRating(score,$(this).attr('is-passenger-rating'))
        },
        size: 24
    });

    function saveRating(score, is_passenger_rating) {
/*
        alert(ratingToJSON(score, is_passenger_rating, $('#transfer_request').val()))
*/
        $.ajax({
            url:"{{ save_rating_link}}",
            data: ratingToJSON(score, is_passenger_rating, $('#transfer_request').val()),
            dataType: 'json',
            type: 'POST'
        });
    }

    function ratingToJSON(score, is_passenger_rating, transfer_request_id){
        return '{ "score": "'+score+'", "is_rating_for_passenger": "'+is_passenger_rating+'", "transfer_request_id": "'+transfer_request_id+'"}';
    }
</script>
{% endblock %}