{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <link type="text/css" href="/static/css/bootstrap-rowlink.min.css">
    <script src="/static/js/bootstrap-rowlink.min.js"></script>
    <script src="/static/js/jquery.raty.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if payment_confirmed %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Payment confirmed.
        </div>
        {% endif %}

        <fieldset disabled>
            <legend>{{ title }} </legend>
            <div class="form-group">
                <label for="transfer_vehicle">Transfer vehicle</label>
                <input type="text" class="form-control" id="transfer_vehicle" name="transfer_vehicle" value="{{ transfer.vehicle_name }}">
            </div>
            <div class="form-group">
                <label for="transfer_route">Transfer route</label>
                <input type="text" class="form-control" id="transfer_route" name="transfer_route" value="{{ transfer.route_name }}">
            </div>
            <div class="form-group">
                <label for="payment_method">Pricing option</label>
                <input type="text" class="form-control" id="payment_method" name="payment_method" value="{{ transfer.pricing_option_text }}">
            </div>
            <div class="form-group">
                <label for="payment_amount">Payment amount</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="payment_amount" name="payment_amount" value="{{ transfer.payment_amount }}">
                    <span class="input-group-addon">BTC</span>
                </div>
            </div>
            <div class="form-group">
                <label for="transfer_start_date">Transfer start date</label>
                <input type="text" class="form-control" id="transfer_start_date" name="transfer_start_date" value="{{ transfer.created.strftime('%d.%m.%Y %H:%M') }}">
            </div>
        </fieldset>
        <br>
        <legend>Accepted transfer requests</legend>

        <table class="table table-striped" data-provides="rowlink">
            <thead>
            <th>Start location</th>
            <th>Request time</th>
            <th>Payment made</th>
            <th>Payment confirmed</th>
            <th>Your rating</th>
            </thead>
            {% for transfer_request in transfer_requests %}
            <tr>
                <td><a href="{{ transfer_request.link }}">{{ transfer_request.start_location }}</a></td>
                <td>{{ transfer_request.request_time.strftime('%d.%m.%Y %H:%M')  }}</td>
                <td>{{ transfer_request.transfer_pay_made }}</td>
                <td>{{ transfer_request.transfer_pay_confirmed }}</td>
                <td><div class="star" data-score="{{ transfer_request.given_rating }}" /></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="active">
                    <p class="text-center"><strong>No transfer request accepted</strong></p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $.fn.raty.defaults.path = '/static/img';
    $('.star').raty({
        score: function() {
            return $(this).attr('data-score');
        },
        readOnly: true
    });
</script>
{% endblock %}