{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" href="/static/css/bootstrap-rowlink.min.css">
<script src="/static/js/bootstrap-rowlink.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if transfer_started  %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Transfer successfully started.
        </div>
        {% endif %}

        <h2>{{ title }}</h2>
        <h6><a href="{{ add_transfer_link }}">Start a transfer</a></h6>

        <table class="table table-hover" data-provides="rowlink">
            <thead>
            <th>Transfer started</th>
            <th>Transfer route</th>
            <th>Transfer vehicle</th>
            </thead>

            {% for transfer in transfer_list %}
            <tr>
                <td><a href="{{ transfer.link }}">{{ transfer.created.strftime('%d.%m.%Y %H:%M')}}</a></td>
                <td>{{ transfer.route_name }}</td>
                <td>{{ transfer.vehicle_name }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="active">
                    <p class="text-center"><strong>No transfers</strong></p>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}