{% extends "Base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
    <script src="/static/js/jquery.raty.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        {% if bitcoin_address_saved %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Bitcoin address successfully saved.
        </div>
        {% endif %}

        <form method="post">
            <fieldset>
                <legend>{{ title }}</legend>
                <div class="form-group">
                    <label for="driver_rating">Your driver rating</label>
                    <div id="driver_rating" class="star" data-score="{{ application_user.driver_rating }}"></div>
                </div>
                <div class="form-group">
                    <label for="passenger_rating">Your passenger rating</label>
                    <div id="passenger_rating" class="star" data-score="{{ application_user.passenger_rating }}"></div>
                </div>
                <div class="form-group">
                    <label for="bitcoin_address">Bitcoin address</label>
                    <input type="text" class="form-control" id="bitcoin_address" name="bitcoin_address" placeholder="Enter bitcoin address" value="{{ application_user.bitcoin_address }}">
                </div>
                <button type="submit" class="btn btn-default">Save bitcoin address</button>
            </fieldset>
        </form>
        <br/>
        <br/>
        <legend>Scheduled transfers</legend>
        <table class="table table-striped">
        <thead>
            <th>Transfer route</th>
            <th>Transfer vehicle</th>
            <th>Created</th>
            <th>Schedule type</th>
            <th>Schedule time</th>
            <th>Remove scheduled transfer</th>
        </thead>
        {% for scheduled_transfer in scheduled_transfers %}
        <tr>
            <td>{{ scheduled_transfer.route_name }}</td>
            <td>{{ scheduled_transfer.vehicle_name }}</td>
            <td>{{ scheduled_transfer.created.strftime('%d.%m.%Y %H:%M') }}</td>
            <td>{{ scheduled_transfer.schedule_type_name }}</td>
            <td>{{ scheduled_transfer.schedule_time }}</td>
            <td><a href="{{ scheduled_transfer.remove_link }}">Remove</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">
                <p class="text-center"><strong>No transfers scheduled</strong></p>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $.fn.raty.defaults.path = '/static/img';
    $('.star').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        size: 24
    });
</script>
{% endblock %}